GROQ_API_KEY= 
OPENAI_API_KEY=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=
MYSQL_UNIX_SOCKET=




# Server configuration
SQL_OPTIMIZER_SERVER_PATH= 
SQL_OPTIMIZER_SERVER_HOST=
SQL_OPTIMIZER_SERVER_PORT=

# Database configuration
SQL_OPTIMIZER_DB_DIALECT=
SQL_OPTIMIZER_DB_HOST=
SQL_OPTIMIZER_DB_USER=
SQL_OPTIMIZER_DB_PASSWORD=
SQL_OPTIMIZER_DB_NAME=
    
# Output configuration
SQL_OPTIMIZER_OUTPUT_FORMAT=
SQL_OPTIMIZER_OUTPUT_FILE=

# Visualization
SQL_OPTIMIZER_GENERATE_VISUALIZATION=
SQL_OPTIMIZER_VISUALIZATION_PATH=

# Logging level (DEBUG, INFO, WARNING, ERROR)
SQL_OPTIMIZER_LOG_LEVEL=
SQL_OPTIMIZER_USE_SAMPLE_QUERY=
